.App {
 
}

h1{
	 text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: orange;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


.columna{
	position:relative;
	width:14%;
}

img{
	
	
}

input{
  position: absolute;
  left:35%;
  width:30%;
  top:100px;

}

.Foto{
	width:14%
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
